[package]
name = "tame-gcs"
version = "0.4.1"
authors = ["Embark <opensource@embark-studios.com>", "Jake Shadle <jake.shadle@embark-studios.com>"]
edition = "2018"
description = "A small library with a limited set of Google Cloud Storage operations"
license = "MIT OR Apache-2.0"
documentation = "https://docs.rs/tame-gcs"
homepage = "https://github.com/EmbarkStudios/tame-gcs"
repository = "https://github.com/EmbarkStudios/tame-gcs"
keywords = ["gcs", "tame", "sans-io", "storage", "gcp"]
readme = "README.md"
exclude = [
  # End users don't want the JSON schemas
  "src/v1/schema.json",
]

[badges]
maintenance = { status = "actively-developed" }

[lib]
doctest = false

[dependencies]
base64 = "0.10.1"
bytes = "0.4.12"
chrono = { version = "0.4.7", features = ["serde"] }
http = "0.1.18"
percent-encoding = "2.1.0"
ring = { version = "0.16.9", optional = true }
serde = { version = "1.0.101", features = ["derive"] }
serde_json = "1.0.41"
serde_urlencoded = "0.6.1"
thiserror = "1.0.1"
url = "2.1.0"

[dev-dependencies]
# COLORS! (follows version used by clap)
ansi_term = "0.11.0"
# Friendly error handling
anyhow = "1.0.11"
# Human friendly byte sizes
number_prefix = "0.3.0"
# Diff view of test failures
difference = "2.0.0"
# Use environment for arguments
dotenv = { version = "0.15.0", git = "https://github.com/dotenv-rs/dotenv.git", rev = "cfed2b8" }
# Because progress bars are fun
indicatif = "0.12.0"
# For doing actual requests in examples
reqwest = { version = "0.9.21", default-features = false, features = ["rustls-tls"] }
# Because it's good
structopt = "0.3.2"
# For doing actual authentication in examples
tame-oauth = { version = "0.3.0", features = ["gcp"] }

[features]
default = ["v1"]
# GCS JSON API v1 - Currently the only version of the API
v1 = []
# Enable this feature if you want to create signed URL's without
# needing to implement the signing and digest
signing = ["ring"]
