[package]
name = "tame-gcs"
version = "0.2.0"
authors = ["Embark <opensource@embark-studios.com>", "Jake Shadle <jake.shadle@embark-studios.com>"]
edition = "2018"
description = "A small library with a limited set of Google Cloud Storage operations"
license = "MIT OR Apache-2.0"
documentation = "https://docs.rs/tame-gcs"
homepage = "https://github.com/EmbarkStudios/tame-gcs"
repository = "https://github.com/EmbarkStudios/tame-gcs"
keywords = ["gcs", "tame", "sans-io", "storage", "gcp"]
readme = "README.md"

[lib]
doctest = false

[dependencies]
bytes = "0.4.12"
chrono = { version = "0.4.7", features = [ "serde" ] }
failure = "0.1.5"
http = "0.1.17"
serde = { version = "1.0.94", features = [ "derive" ] }
serde_json = "1.0.40"
url = "1.7.2"
