[package]
name = "tame-gcs"
version = "0.4.1"
authors = ["Embark <opensource@embark-studios.com>", "Jake Shadle <jake.shadle@embark-studios.com>"]
edition = "2018"
description = "A small library with a limited set of Google Cloud Storage operations"
license = "MIT OR Apache-2.0"
documentation = "https://docs.rs/tame-gcs"
homepage = "https://github.com/EmbarkStudios/tame-gcs"
repository = "https://github.com/EmbarkStudios/tame-gcs"
keywords = ["gcs", "tame", "sans-io", "storage", "gcp"]
readme = "README.md"

exclude = [
  # End users don't want the JSON schemas
  "src/v1/schema.json",
]

[lib]
doctest = false

[dependencies]
base64 = "0.10.1"
bytes = "0.4.12"
chrono = { version = "0.4.7", features = ["serde"] }
failure = "0.1.5"
http = "0.1.18"
ring = { version = "0.14.6", optional = true }
serde = { version = "1.0.98", features = ["derive"] }
serde_json = "1.0.40"
serde_urlencoded = "0.5.5"
untrusted = { version = "0.6.2", optional = true }
url = "1.7.2"

[dev-dependencies]
# COLORS!
ansi_term = "0.12.0"
# Human friendly byte sizes
number_prefix = "0.3.0"
# Diff view of test failures
difference = "2.0.0"
# Use environment for arguments
dotenv = "0.14.1"
# Because progress bars are fun
indicatif = "0.11.0"
# For doing actual requests in examples
reqwest = { version = "0.9.19", default-features = false, features = ["rustls-tls"] }
# Because it's good
structopt = "0.2.18"
# For doing actual authentication in examples
tame-oauth = { version = "0.2.1", features = ["gcp"] }

[features]
default = ["v1"]
# GCS JSON API v1 - Currently the only version of the API
v1 = []
# Enable this feature if you want to create signed URL's without
# needing to implement the signing and digest
signing = ["ring", "untrusted"]
